body, h1, h2, h3, code {
	font-family: sans-serif;
}
input[type=text], input[type=submit] {
	padding: 6px;
	margin: 4px;
	display: inline-block;
	box-sizing: border-box;
}
.searchbutton {
	text-decoration: underline;
	cursor: pointer;
}
@media (prefers-color-scheme: light) {
	body {
		color: #4D4D4D;
		background-color: #E6EBF1;
	}
	a {
		color: #4D4D4D;
	}
	input[type=text], input[type=submit] {
		border: 2px solid #173992;
		color: #2d3958;
		background-color: #bac9dc;
	}
	#duck      { color: #de5833; }
	#searx     { color: #13ad9d; }
	#startpage { color: #171b25; }
}
@media (prefers-color-scheme: dark) {
	body {
		color: #F4F4F4;
		background-color: #333333;
		border: 2px solid #F4F4F4;
	}
	a {
		color: #F4F4F4;
	}
	input[type=text], input[type=submit] {
		color: #F4F4F4;
		background-color: #2d3958;
		border: 2px solid #F4F4F4;
	}
	#duck      { color: #de5833; }
	#searx     { color: #01d7c0; }
	#startpage { color: #4a619a; }
}
